.hero{
 
    display: flex;
   
    height: 100vh;
    background: linear-gradient(180deg,#fde1ff, #e1ffea22 60%);
    margin-bottom: 20px;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  align-items: center;
    justify-content: center;
 

}

.hero-left h2{
    font-size: 50px;
    font-weight: 600;
}

.hand-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}

.hand-icon p{
    font-size: 100px;
}
.hand-icon img{
    width: 100px;
}

.hero-hand p{
font-size: 70px;
font-weight: 600;
}

.hero-latest-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    background: brown;
    width: 200px;
    height: 50px;
    border-radius: 70px;
}

.hero-right{
 align-items: center;
 flex: 1;
 display: flex;
}

.hero-right img{
    width: 50%;
    align-items: center;
}